
@charset "utf-8";
html {
    background: none repeat scroll 0 0 #fff;
    color: #000;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
img {
    border: 0 none;
}
cite, em, strong, th {
    font-style: inherit;
    font-weight: inherit;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
input, button, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
input, button, textarea, select {
}
body {
    line-height: 1.5em;
}
ol, ul {
    list-style: none outside none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    text-align: left;
}
blockquote {
    quotes: none;
}
:link, *:visited {
    text-decoration: none;
}
td, th, div {
    word-break: break-all;
    word-wrap: break-word;
}
form {
    display: inline;
}
* {
    outline: medium none;
}
.cc:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.cc {
    display: inline-block;
}
* html .cc {
    height: 1%;
}
.cc {
    display: block;
}
.c {
    clear: both;
    font: 0px/0px Arial;
    height: 0;
    overflow: hidden;
}
.b {
    font-weight: 700;
}
.w {
    white-space: nowrap;
}
.tal {
    text-align: left;
}
.tac {
    text-align: center;
}
.tar {
    text-align: right;
}
.fr {
    float: right;
}
.fl {
    float: left;
}
.pr {
    position: relative;
}
.vt, .vt td {
    vertical-align: top;
}
.f9 {
    font-size: 10px;
}
.f10, small, .small {
    font-size: 11px;
}
.f12 {
    font-size: 12px;
}
.f14 {
    font-size: 14px;
}
.f16 {
    font-size: 16px;
}
.f24 {
    font-size: 24px;
}
.fn, .fn a {
    font-weight: normal;
}
.aimg {
    display: block;
    text-indent: -2000em;
}
.xl-app .fl {
    height: 16px;
    width: 16px;
}
.xl-app .i-a {
    background-position: 0 0;
}
.xl-app .i-b {
    background-position: 0 -20px;
}
.xl-app .i-c {
    background-position: 0 -40px;
}
.xl-app .i-d {
    background-position: 0 -60px;
}
.xl-app .i-e {
    background-position: 0 -80px;
}
.xl-app .i-f {
    background-position: 0 -100px;
}
.xl-app .i-g {
    background-position: 0 -120px;
}
.xl-app .i-h {
    background-position: 0 -140px;
}
.xl-app .i-i {
    background-position: 0 -160px;
}
.xl-app .i-j {
    background-position: 0 -180px;
}
.xl-app .i-k {
    background-position: 0 -200px;
}
.xl-app .i-l {
    background-position: 0 -220px;
}
.xl-app .i-m {
    background-position: 0 -240px;
}
.xl-app .i-n {
    background-position: 0 -260px;
}
.xl-app .i-o {
    background-position: 0 -280px;
}
.xl-app .i-p {
    background-position: 0 -300px;
}
.xl-app .i-q {
    background-position: 0 -320px;
}
.xl-app .i-r {
    background-position: 0 -340px;
}
.xl-app .i-s {
    background-position: 0 -360px;
}
.xl-app .i-t {
    background-position: 0 -380px;
}
.xl-app .i-y {
    background-position: 0 -400px;
}
.app-using .app-blog {
    background-position: 10px 4px;
}
.app-using .app-post {
    background-position: 10px -16px;
}
.app-using .app-photo {
    background-position: 10px -36px;
}
.app-using .app-group {
    background-position: 10px -56px;
}
.app-using .app-shares {
    background-position: 10px -76px;
}
.app-using .app-thread {
    background-position: 10px -96px;
}
.app-using .app-forum {
    background-position: 10px -116px;
}
