.accept1{background: url(../images/icons/icons.png) no-repeat 0 0!important;  } 
.add{background: url(../images/icons/icons.png) no-repeat 0 -26px!important;  } 
.attach{background: url(../images/icons/icons.png) no-repeat 0 -52px!important;  } 
.book_key{background: url(../images/icons/icons.png) no-repeat 0 -77px!important;  } 
.btn-delete{background: url(../images/icons/icons.png) no-repeat 0 -103px!important;  } 
.btn-save{background: url(../images/icons/icons.png) no-repeat 0 -129px!important;  } 
.cancel{background: url(../images/icons/icons.png) no-repeat 0 -155px!important;  } 
.close{background: url(../images/icons/icons.png) no-repeat 0 -181px!important;  } 
.diary{background: url(../images/icons/icons.png) no-repeat 0 -207px!important;  } 
.excel{background: url(../images/icons/icons.png) no-repeat 0 -233px!important;  } 
.fav-star{background: url(../images/icons/icons.png) no-repeat 0 -259px!important;  } 
.flowWait{background: url(../images/icons/icons.png) no-repeat 0 -285px!important;  } 
.forwardmail{background: url(../images/icons/icons.png) no-repeat 0 -311px!important;  } 
.i009{background: url(../images/icons/icons.png) no-repeat 0 -335px!important;  } 
.i033{background: url(../images/icons/icons.png) no-repeat 0 -361px!important;  } 
.i035{background: url(../images/icons/icons.png) no-repeat 0 -387px!important;  } 
.i05503725{background: url(../images/icons/icons.png) no-repeat 0 -413px!important;  } 
.i075{background: url(../images/icons/icons.png) no-repeat 0 -439px!important;  } 
.i103{background: url(../images/icons/icons.png) no-repeat 0 -465px!important;  } 
.i1032{background: url(../images/icons/icons.png) no-repeat 0 -491px!important;  } 
.i1095{background: url(../images/icons/icons.png) no-repeat 0 -517px!important;  } 
.i1102{background: url(../images/icons/icons.png) no-repeat 0 -543px!important;  } 
.i130{background: url(../images/icons/icons.png) no-repeat 0 -569px!important;  } 
.i135{background: url(../images/icons/icons.png) no-repeat 0 -595px!important;  } 
.i136{background: url(../images/icons/icons.png) no-repeat 0 -621px!important;  } 
.i195{background: url(../images/icons/icons.png) no-repeat 0 -647px!important;  } 
.i201{background: url(../images/icons/icons.png) no-repeat 0 -673px!important;  } 
.i203{background: url(../images/icons/icons.png) no-repeat 0 -699px!important;  } 
.i205{background: url(../images/icons/icons.png) no-repeat 0 -725px!important;  } 
.i221{background: url(../images/icons/icons.png) no-repeat 0 -751px!important;  } 
.i294{background: url(../images/icons/icons.png) no-repeat 0 -777px!important;  } 
.icon00{background: url(../images/icons/icons.png) no-repeat 0 -803px!important;  } 
.home{background: url(../images/icons/icons.png) no-repeat 0 -829px!important;  } 
.query{background: url(../images/icons/icons.png) no-repeat 0 -855px!important;  } 
.icon04{background: url(../images/icons/icons.png) no-repeat 0 -881px!important;  } 
.icon05{background: url(../images/icons/icons.png) no-repeat 0 -907px!important;  } 
.icon08{background: url(../images/icons/icons.png) no-repeat 0 -933px!important;  } 
.icon10{background: url(../images/icons/icons.png) no-repeat 0 -959px!important;  } 
.icon16{background: url(../images/icons/icons.png) no-repeat 0 -985px!important;  } 
.icon17{background: url(../images/icons/icons.png) no-repeat 0 -1011px!important;  } 
.icon20{background: url(../images/icons/icons.png) no-repeat 0 -1037px!important;  } 
.icon25{background: url(../images/icons/icons.png) no-repeat 0 -1063px!important;  } 
.icon26{background: url(../images/icons/icons.png) no-repeat 0 -1089px!important;  } 
.icon28{background: url(../images/icons/icons.png) no-repeat 0 -1115px!important;  } 
.icon29{background: url(../images/icons/icons.png) no-repeat 0 -1141px!important;  } 
.icon31{background: url(../images/icons/icons.png) no-repeat 0 -1167px!important;  } 
.inbox{background: url(../images/icons/icons.png) no-repeat 0 -1193px!important;  } 
.item-add{background: url(../images/icons/icons.png) no-repeat 0 -1219px!important;  } 
.item-delete{background: url(../images/icons/icons.png) no-repeat 0 -1245px!important;  } 
.item-edit{background: url(../images/icons/icons.png) no-repeat 0 -1271px!important;  } 
.item-save{background: url(../images/icons/icons.png) no-repeat 0 -1299px!important;  } 
.mail_box{background: url(../images/icons/icons.png) no-repeat 0 -1325px!important;  } 
.mbi020{background: url(../images/icons/icons.png) no-repeat 0 -1351px!important;  } 
.move-down{background: url(../images/icons/icons.png) no-repeat 0 -1377px!important;  } 
.move-up{background: url(../images/icons/icons.png) no-repeat 0 -1403px!important;  } 
.preview{background: url(../images/icons/icons.png) no-repeat 0 -1429px!important;  } 
.refresh{background: url(../images/icons/icons.png) no-repeat 0 -1459px!important;  } 
.reply{background: url(../images/icons/icons.png) no-repeat 0 -1485px!important;  } 
.restore{background: url(../images/icons/icons.png) no-repeat 0 -1511px!important;  } 
.reverse{background: url(../images/icons/icons.png) no-repeat 0 -1537px!important;  } 
.save{background: url(../images/icons/icons.png) no-repeat 0 -1563px!important;  } 
.search{background: url(../images/icons/icons.png) no-repeat 0 -1589px!important;  } 
.send{background: url(../images/icons/icons.png) no-repeat 0 -1615px!important;  } 
.sendMessage{background: url(../images/icons/icons.png) no-repeat 0 -1641px!important;  } 
.set-disp-columns{background: url(../images/icons/icons.png) no-repeat 0 -1667px!important;  } 
.setIsTop{background: url(../images/icons/icons.png) no-repeat 0 -1693px!important;  } 
.setIsTopDown{background: url(../images/icons/icons.png) no-repeat 0 -1719px!important;  } 
.signInOff{background: url(../images/icons/icons.png) no-repeat 0 -1745px!important;  } 
.trash{background: url(../images/icons/icons.png) no-repeat 0 -1771px!important;  } 
.user{background: url(../images/icons/icons.png) no-repeat 0 -1797px!important;  } 
.xstb163{background: url(../images/icons/icons.png) no-repeat 0 -1823px!important;  } 
.xstb168{background: url(../images/icons/icons.png) no-repeat 0 -1849px!important;  }
.add{background: url(../images/icons/add.png) no-repeat !important ;}
.application{background: url(../images/icons/application.png) no-repeat !important ;}
.building{background: url(../images/icons/building.png) no-repeat !important ;}
.calendar{background: url(../images/icons/calendar.png) no-repeat !important ;}
.config{background: url(../images/icons/config.png) no-repeat !important ;}
.contract_list{background: url(../images/icons/contract_list.png) no-repeat !important ;}
.contract{background: url(../images/icons/contract.png) no-repeat !important ;}
.desk{background: url(../images/icons/desk.png) no-repeat !important ;}
.edit{background: url(../images/icons/edit.png) no-repeat !important ;}
.error{background: url(../images/icons/error.png) no-repeat !important ;}
.file_manage{background: url(../images/icons/file_manage.png) no-repeat !important ;}
.folder{background: url(../images/icons/folder.png) no-repeat !important ;}
.forum{background: url(../images/icons/forum.png) no-repeat !important ;}
.help{background: url(../images/icons/help.png) no-repeat !important ;}
.invoice{background: url(../images/icons/invoice.png) no-repeat !important ;}
.maintenance{background: url(../images/icons/maintenance.png) no-repeat !important ;}
.meeting{background: url(../images/icons/meeting.png) no-repeat !important ;}
.member{background: url(../images/icons/member.png) no-repeat !important ;}
.msg{background: url(../images/icons/msg.png) no-repeat !important ;}
.no{background: url(../images/icons/no.png) no-repeat !important ;}
.ok{background: url(../images/icons/ok.png) no-repeat !important ;}
.operate{background: url(../images/icons/operate.png) no-repeat !important ;}
.parking{background: url(../images/icons/parking.png) no-repeat !important ;}
.password{background: url(../images/icons/password.png) no-repeat !important ;}
.plan{background: url(../images/icons/plan.png) no-repeat !important ;}
.project_list{background: url(../images/icons/project_list.png) no-repeat !important ;}
.project{background: url(../images/icons/project.png) no-repeat !important ;}
.real_estate{background: url(../images/icons/real_estate.png) no-repeat !important ;}
.receive_msg{background: url(../images/icons/receive_msg.png) no-repeat !important ;}
.refresh{background: url(../images/icons/refresh.png) no-repeat !important ;}
.remove{background: url(../images/icons/remove.png) no-repeat !important ;}
.role{background: url(../images/icons/role.png) no-repeat !important ;}
.room{background: url(../images/icons/room.png) no-repeat !important ;}
.sen_msg{background: url(../images/icons/sen_msg.png) no-repeat !important ;}
.system_manage{background: url(../images/icons/system_manage.png) no-repeat !important ;}
.timeline{background: url(../images/icons/timeline.png) no-repeat !important ;}
.user_manage{background: url(../images/icons/user_manage.png) no-repeat !important ;}
.view{background: url(../images/icons/view.png) no-repeat !important ;}
.work{background: url(../images/icons/work.png) no-repeat !important ;}
.yen_coin{background: url(../images/icons/yen_coin.png) no-repeat !important ;}

